/* This is the offical meet-today css file */

html,body {
    height:100%;
    width: 100%;
}

.cerulean {
    color: #007BA7;
}

.white {
    color: white;
}

/*Navbar*/
.nav-link {
    color: #2A2A72;
}

.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,164,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-colored {
	transition: background-color 200ms linear;

	background-color: white;
}
.nav-transparent {
	transition: background-color 200ms linear;

	background-color:transparent;
}

#nav-title {
    background-color: transparent;
}

/*Banner*/
.banner {
    position: relative;

	width: 100%;
	height: auto;
	min-height: 100%;
    padding: 6rem 0;

    background-image:url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.header-text {
    position: relative;
    margin-top: 17%;
}

/*Content*/
.about {
        position: relative;

    	width: 100%;
    	height: auto;
    	min-height: 90%;
        padding: 10rem 0;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;

        background-color: white;
}

.feature {
    max-width: 325px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
}

.feature i  {
    color:#4285F4;

    font-size: 5em;
}

/*Tutorial + links*/
.tutorial {
    position: relative;

    width: 100%;
    height: auto;
    min-height: 30%;
    padding: 10rem 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    background-color: #eceff1;
}

.line {
    position: relative;
    width: 30%;
    height: 1px;
    background-color: #2A2A72;
}

/*Get Started*/
.get-started {
        position: relative;

    	width: 100%;
    	height: auto;
        padding: 10rem 0;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        background-color: white;
}

/*Entry page"*/
.entry-block {
    min-height: 100%;
    width:100%;
    padding-left: 0%;
    padding-right: 0%;
    background-image: url('../img/computer.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.alert {
    list-style: none;
}

.full{
    padding: 0px !important;
}

#submit2 {
    height: 100%;
    width: 100%;
    padding: 2rem 2.4rem;
}
#submit1 {
    height: 100%;
    width: 100%;
    padding: 2rem 2.4rem;
}

/*Chat Room*/
.chat-nav{
    display: block;
    min-width: 400px;
    position: relative;
    z-index: 3;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-radius: 0 0 12px 12px;
}

.chat {
    height: 100%;
}

.chat-talk{
    max-height: 100%;
}

.chat-messages{
    height:100%;
}

.messages{
    width: 90%;
    position: absolute;
    height: 60%;
    overflow-y: scroll;
}

.message{
    width: 90%;
}

/*Join*/
.join-block {
    min-height: 100%;
    width:100%;
    padding-left: 0%;
    padding-right: 0%;
    background-image: url('../img/computer.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.opaque {
    opacity: 1;
}
