{% block body %}
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row p-4">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Special thanks to</h5>
          <p>Pexels (SpaceX, Rawpixel.com, Pixabay, Christina Morrillo, Helena Lopes, Tirachard Kumtanom), The amazing people behind Flask, Flask-SOCKETIO, Flask-WTF, MDBootstrap,jQuery and stack overflow.</p>
          <h6>And of course to the start of this all - Today's Meet and James Socol. Meet Today could not have started without the inspiration from Today's Meet.</h5>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">About the creator</h5>
          <p>Mark Li - Student at Dulwich College Beijing</p>

          <div class="mb-5">
            <!-- Github -->
            <a href="https://github.com/Houwang123">
              <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Stack Overflow -->
            <a href="https://stackoverflow.com/users/10113057/houwang">
              <i class="fa fa-stack-overflow fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter +-->
            <a href="https://twitter.com/MarkLi18441220">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

        <!-- Grid column -->

      </div>
      <!-- Grid row-->


        </div>
        <!-- Grid column -->

      </div>

    </div>
    <!-- Footer Text -->

    <div class="footer-copyright text-center py-3">© 2018 Cuboid Mark Li:
      <a href="https://github.com/Houwang123/meet-today"> Project on Github</a>
    </div>

  </footer>
  <!-- Footer -->
{% endblock %}
