<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Meet Today!</title>

    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.ico"/>

    <!-- Jquery + bootstrap js + other Js files -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mdb.css">
    <link rel="stylesheet" href="../static/css/meet-today.css">

</head>

<body>
    {% block body %}{% endblock %}
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/mdb.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>
