<!-- Navbar -->
{% block body %}
<nav class="navbar fixed-top navbar-expand-lg" id="mynav">
    <!-- logo + brand -->
    <a class="navbar-brand" href="#"><h1 class="blue">Meet<span class="cerulean">Today</span></h1></a>
    <!-- Responsive -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- links -->
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sites by Dulwich</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item blue" href="http://dcbinspire.com/index.html">DCB Inspire</a>
                    <a class="dropdown-item blue" href="#"> DCB Careers</a>
                    <a class="dropdown-item blue" href="https://beijing.dulwich.org/">DCB</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link blue" href="#">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link blue" href="#">Join</a>
            </li>
            <li class="nav-item">
                <a class="nav-link blue" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
