<!-- Navbar -->
{% block body %}
<nav class="navbar fixed-top navbar-expand-md navbar-light border-bottom" id="mynav" style="background-color:white;">
    <!-- logo + brand -->
    <a class="navbar-brand" href="#"><h1 class="cerulean">Meet<span class="text-primary">Today</span></h1></a>
    <!-- Responsive -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- links -->
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cool Links</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://dcbinspire.com/index.html">DCB Inspire</a>
                    <a class="dropdown-item" href="https://www.ethereum.org/">Ethereum site</a>
                    <a class="dropdown-item" href="https://github.com/Houwang123/meet-today">Github for this project</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link " href="/dashboard">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chat">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/entry">Login</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
