{% extends '_layout.html' %}

{% block body %}

{% include '_navbar.html' %}

<!-- Banner -->
<div class="container-fluid banner">
    <div class="container">
        <div class="text-center header-text">
            <h1 class="display-3 text-light animated fadeIn">TodaysMeet. Rediscovered.</h1>
            <p class="lead">
                <a class="btn btn-primary btn-lg waves-effect animated fadeIn" href="#tutorial" role="button">Meet Today. Discover Tomorrow.</a>
            </p>
        </div>
    </div>
</div>

<div class="container about">
    <div class="display-3 text-center wow fadeInUp">
        <p>Chat Anywhere. Anytime.</p>
        <hr class="my-4 black" style="width:35%;height:4px;border:none;color:#333;background-color:#333;">
    </div>
        <div class="row" style="padding-top:20px;">
        <div class="col-md-6">
            <img class="img-fluid wow fadeInLeft" src="../static/img/about.jpg">
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-6  wow fadeInUp">
                        <div class="feature">
                            <i class="fas fa-comments"></i>
                            <h4 class="display-5" style="padding-top:5px;">Active</h4>
                            <p class="lead">Expect more features. Soon.</p>
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInUp">
                        <div class="feature">
                            <i class="fas fa-lock-open"></i>
                            <h4 class="display-5" style="padding-top:5px;">Open source</h4>
                            <p class="lead">Forever free. All code on Github.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  wow fadeInUp">
                        <div class="feature">
                            <i class="fab fa-chrome"></i>
                            <h4 class="display-5" style="padding-top:5px;">Minimal</h4>
                            <p class="lead">Easy to use. Supports markdown</p>
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInUp">
                        <div class="feature">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <h4 class="display-5" style="padding-top:5px;">Educate</h4>
                            <p class="lead">An education backchannel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid tutorial" id="tutorial">
    <div class="display-4 text-center wow fadeInUp">
        <p>Get Started on your enlightment.</p>
        <hr class="my-4 black" style="width:35%;height:4px;border:none;color:#333;background-color:#333;">
    </div>
    <br>
    <br>
    <div class="container">
      <div class="card-deck">

          <!-- Card -->
            <div class="card mb-4 wow fadeInLeft">

            <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="../static/img/c1.png" alt="Card image cap">
                    <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
                </div>

            <!--Card content-->
                <div class="card-body">

              <!--Title-->
                <h4 class="card-title">Chat</h4>
                <!--Text-->
                <p class="card-text">Join a chat room by clicking the button below or entering room ID in browser URL</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-light-blue btn-md waves-effect">Chat</button>

                </div>

            </div>
            <div class="card mb-4 wow fadeInUp">
                <div class="view overlay">
                    <img class="card-img-top" src="../static/img/c2.png" alt="Card image cap">
                <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Register</h4>
              <!--Text-->
              <p class="card-text">Register to get access to creation of room and admin features.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
               <a href="/entry"><button type="button" class="btn btn-light-blue btn-md waves-effect">Register</button></a>

            </div>

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4 wow fadeInRight">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="../static/img/c3.png" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Github</h4>
              <!--Text-->
              <p class="card-text">Learn more about the source code or fork us on Github.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <a href="https://github.com/Houwang123/meet-today"><button type="button" class="btn btn-light-blue btn-md waves-effect">Github</button></a>

            </div>

          </div>
          <!-- Card -->

        </div>
        <!-- Card deck -->
        </div>
    <br>
    <br>

</div>

<div class="container get-started">
    <div class="display-4 text-center wow fadeInUp">
        <p>Frequently asked questions</p>
        <hr class="my-4 black" style="width:35%;height:4px;border:none;color:#333;background-color:#333;">
    </div>
    <p class="text-center lead">All the answers to use this amazing platform</p>
    <br>
    <div class="row wow fadeInUp">

  <!-- First column -->
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="1">How can I join a room</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="2">How can I use markdown</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="3">How is this useful</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="4">Are there going to be updates</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Each time a room is created, a public URL is generated. Furthermore, there is an option to search for public rooms in the chat page.</div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Markdown is a lightweight markup language with plain text formatting syntax. Search online for how to use its syntax.</div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Meet today is a backchanelling chat room system designed to be simple yet powerful, like Python.</div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Expect cool new features such as image uploading, profile checking and video chat very soon!</div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/meet-today.js"></script>

{% include '_footer.html' %}

{% endblock %}
