{% extends '_layout.html' %}

{% block body %}

{% include '_navbar.html' %}

<!-- Banner -->
<div class="container-fluid banner">
    <div class="container">
        <div class="text-center header-text">
            <h1 class="display-3 text-light animated fadeIn">TodaysMeet. Rediscovered.</h1>
            <p class="lead">
                <a class="btn btn-primary btn-lg waves-effect animated fadeIn" href="/dashboard" role="button">Meet Today. Discover Tomorrow.</a>
            </p>
        </div>
    </div>
</div>

<div class="container about">
    <div class="display-3 text-center">
        <p>Chat Anywhere. Anytime.</p>
        <hr class="my-4 black" style="width:35%;height:4px;border:none;color:#333;background-color:#333;">
    </div>
        <div class="row" style="padding-top:20px;">
        <div class="col-md-6">
            <img class="img-fluid" src="../static/img/about.jpg">
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature">
                            <i class="fas fa-comments"></i>
                            <h4 class="display-5" style="padding-top:5px;">Real Time Chat</h4>
                            <p class="lead">Just like it was before. No changes.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature">
                            <i class="fas fa-lock-open"></i>
                            <h4 class="display-5" style="padding-top:5px;">Open source</h4>
                            <p class="lead">Forever free. All code on Github.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature">
                            <i class="fab fa-chrome"></i>
                            <h4 class="display-5" style="padding-top:5px;">Tested</h4>
                            <p class="lead">On brave. Chrome. And firefox.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <h4 class="display-5" style="padding-top:5px;">Educate</h4>
                            <p class="lead">I guess you could use it for that.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid team">
    <div class="container text-center">
        <i class="fas fa-user-circle"></i>
        <div class="lead">&boxh;&boxh;&boxh;&boxh;&boxh;&boxh;&nbsp;Core Team&nbsp;&boxh;&boxh;&boxh;&boxh;&boxh;&boxh;</div>
    </br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <img src="../static/img/avatar.png" style="width:200px;height:auto;">
                <h1 class="display-4">Mark Li </h1>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <i class="fas fa-user-circle"></i>
        <div class="lead">&boxh;&boxh;&boxh;&boxh;&boxh;&boxh;&nbsp;Contributors&nbsp;&boxh;&boxh;&boxh;&boxh;&boxh;&boxh;</div>
    </br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <img src="../static/img/avatar.png" style="width:200px;height:auto;">
                <h1 class="display-4">Daniel</h1>
            </div>
        </div>
    </div>
</div>

<div class="container get-started">
    <!-- Card deck -->
    <div class="card-deck wow fadeInUp">

      <!-- Card -->
        <div class="card mb-4">

        <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/img/c1.png" alt="Card image cap">
                <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
            </div>

        <!--Card content-->
            <div class="card-body">

          <!--Title-->
            <h4 class="card-title">Chat</h4>
            <!--Text-->
            <p class="card-text">Join a chat room by clicking the button below or entering room ID in browser URL</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md waves-effect">Chat</button>

            </div>

        </div>
        <div class="card mb-4">
            <div class="view overlay">
                <img class="card-img-top" src="../static/img/c2.png" alt="Card image cap">
            <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Register</h4>
          <!--Text-->
          <p class="card-text">Register to get access to creation of room and pro features.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
           <a href="/entry"><button type="button" class="btn btn-light-blue btn-md waves-effect">Register</button></a>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="../static/img/c3.png" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Login</h4>
          <!--Text-->
          <p class="card-text">Login to get access to creation of room and pro features.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <a href="/entry"><button type="button" class="btn btn-light-blue btn-md waves-effect">Account</button></a>

        </div>

      </div>
      <!-- Card -->

    </div>
    <!-- Card deck -->
    </div>

    <script src="../static/js/meet-today.js"></script>

{% include '_footer.html' %}

{% endblock %}
