{% extends '_layout.html' %}

{% block body %}

{% include '_navbar.html' %}

<!-- Banner -->
<div class="container-fluid banner">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="jumbotron text-center">
                    <h1 class="display-4">MeetToday</h1>
                    <p class="lead">Engage. Talk. Learn.</p>
                    <hr class="my-4">
                    <p>TodaysMeet shut down June 12th. This is bigger, better, and built with python.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg orange" href="/join" role="button">Check it out!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid about">
    <center><h1>A title</h1></center>
</div>

{% endblock %}
